<h1>Material#index</h1>

<ol>
<% @materials.each do |material| %>
  <div>
      <% if material.available == true && material.description == "cardboard" %>
      <li>
       <%= link_to material_path(material) do %>
          <%= material.description %>
       <% end %>
      </li>
      <% end %>
  </div>
<% end %>
<% raise %>
</ol>

