<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= cl_image_tag("https://res.cloudinary.com/foonatic/image/upload/v1574261495/g3hlyblyoypuuyr3dhls.jpg",
      width: 400, height: 300, crop: :fill) %>
